<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588874074588-pf9i1v6e4olsrbbg5f3fgi66r983doe3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588874074588-pf9i1v6e4olsrbbg5f3fgi66r983doe3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>588874074588-5l02g7jm1srqrgve59iptcegmvnv3i6u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDww5MrJxf3eMSHXAnT-BZDp2Lc6Nxxjdg</string>
	<key>GCM_SENDER_ID</key>
	<string>588874074588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cookster.cooksterapp</string>
	<key>PROJECT_ID</key>
	<string>cockster-e477a</string>
	<key>STORAGE_BUCKET</key>
	<string>cockster-e477a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588874074588:ios:ef6a7ce3841cae1c64a719</string>
</dict>
</plist>
